@model MyBlog.Models.Post

@{
    ViewData["Title"] = "Видалення публікації";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Видалення публікації</h1>

<h3>Ви дійсно хочете видалити публікацію?</h3>

@await Html.PartialAsync("DetailsPartial")
    
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Видалити" class="btn btn-danger" /> |
    <a asp-action="Index">Повернутися до списку публікацій</a>
</form>
