@model MyBlog.Models.Post

@{
    ViewData["Title"] = "Деталі публікації";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Деталі публікації</h1>

@await Html.PartialAsync("DetailsPartial")

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати публікацію</a> |
    <a asp-action="Index">Повернутися до списку публікацій</a>
</div>
