@model MyBlog.Models.Post

@{
    ViewData["Title"] = "Редагування публікації";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редагування публікації</h1>

<h4>Публікація</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishTime" class="control-label"></label>
                <input asp-for="PublishTime" class="form-control" />
                <span asp-validation-for="PublishTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label">
                    Зображення
                    <img src="@Model.ImagePath" alt="." class="card-img label-img" />
                </label>
                <input asp-for="ImagePath" class="form-control" type="hidden"/>
                <input asp-for="ImagePath" class="form-control" type="file" name="uploadFile" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Категорія</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти зміни" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку публікацій</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
